#info {
    position: absolute;
    width: 1366px;
    height: 481px;
    left: 0px;
    top: 50px;
}

#QuadroBrancoInfo {
    position: absolute;
    width: 1366px;
    height: 489px;
    left: 0px;
    top: 3px;
    background: linear-gradient(120.91deg, #FAFAFA 31.28%, rgba(255, 255, 255, 0) 55.58%), #F4F4F4;
}

#Titulo {
    position: absolute;
    left: 8.57%;
    right: 38.8%;
    top: 24.95%;
    bottom: 60.71%;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;
}

#Subtitulo {
    position: absolute;
    left: 17.06%;
    right: 47.36%;
    top: 48.65%;
    bottom: 40.31%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

#SaibaMais {
    position: absolute;
    left: 31.63%;
    right: 61.93%;
    top: 69.02%;
    bottom: 26.4%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #0071E3;
}

#sombra {
    position: absolute;
    left: 62.37%;
    right: 7.98%;
    top: 5.2%;
    bottom: 0%;
    
background: url('../../images/Molde.png');

}

#carimbo {
    position: absolute;
left: 66.54%;
right: 12.15%;
top: 18.09%;
bottom: 5.82%;

    
    background: url('../../images/carimbo.png');
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}