#topbar {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 1em;
font-weight: 400;
line-height: 1.5;
color: #1b1b1b;
font-family: Inter, sans-serif;
box-sizing: inherit;
background-color: rgba(255, 255, 255, 0.72);
backdrop-filter: saturate(180%) blur(20px);
align-items: stretch;
display: flex;
min-height: 3.25rem;
border-bottom: 1px solid #ebeaeb;
padding: 16px 0;
left: 0;
position: fixed;
right: 0;
z-index: 30;
top: 0;
}

#container {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #1b1b1b;
    font-family: Inter, sans-serif;
    box-sizing: inherit;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    max-width: 1344px;
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
}

#topbar-brand {
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 1em;
font-weight: 400;
line-height: 1.5;
color: #1b1b1b;
font-family: Inter, sans-serif;
box-sizing: inherit;
display: flex;
flex-shrink: 0;
min-height: 3.25rem;
align-items: center;
padding: 0px;
margin-left: -6rem;
}

#signal-logo {
background-size:315px 1897px;
box-sizing: inherit;
align-items: center;
display: inline-flex;
justify-content: center;
background-repeat: no-repeat;
border: none;
background-image: url(../../images/Logo.svg);
height: 1897px;
width: 315px;
margin-left: -.25rem;
margin-right: -.25rem;
margin-top:-60.5rem;
margin-bottom:-59rem;


}

#topbar-menu {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 1em;
font-weight: 400;
line-height: 1.5;
color: #1b1b1b;
font-family: Inter, sans-serif;
box-sizing: inherit;
align-items: stretch;
display: flex;
flex-grow: 1;
flex-shrink: 0;
margin-right: -6rem;
}

#navbar-end {
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 1em;
font-weight: 400;
line-height: 1.5;
color: #1b1b1b;
font-family: Inter, sans-serif;
box-sizing: inherit;
align-items: stretch;
display: flex;
justify-content: flex-end;
margin-left: auto;
}

#navbar-item {

font-family: Inter, sans-serif;

font-size: 17px;
line-height: 1.17648;
font-weight: 400;
letter-spacing: -.022em;
min-width: 28px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 18px;
background: #00e34c;
color: #fff;
text-decoration: none;
margin-top: 11px;
margin-bottom: 11px;
}

#icon-instagram{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-weight: 400;
font-family: Inter, sans-serif;
line-height: 1.5;
cursor: pointer;
color: #1b1b1b;
font-size: 16px;
box-sizing: inherit;
align-items: center;
display: inline-flex;
justify-content: center;
background-repeat: no-repeat;
background-image: url(https://signal.org/assets/icons/instagram-63876ccfbad266bbbc5b822d9d3fc0c92ebcbf1e3be12033f75ec3ac71a95bf9.svg);
height: 20px;
width: 20px;
margin-left: -.25rem;
margin-right: -.25rem;
}
